ai_n8n/raquel_master_n8n_workflow.json
{
    "name": "Raquel Master - Scalable Multi-Broker",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "raquel-webhook",
                "options": {}
            },
            "id": "webhook-zapi",
            "name": "Webhook Z-API",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                240
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT u.whatsapp as broker_whatsapp, u.name as broker_name, u.id as user_id, l.name as lead_name \nFROM leads l \nJOIN users u ON l.user_id = u.id \nWHERE l.phone = '{{$node[\"Webhook Z-API\"].json[\"phone\"]}}' \nLIMIT 1;"
            },
            "id": "lookup-broker",
            "name": "Lookup Broker & Lead",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                200,
                240
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-credential-id",
                    "name": "Supabase DB"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "ai-agent-raquel",
            "name": "AI Agent Raquel",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                450,
                240
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "openai-model",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                300,
                460
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai-credential-id",
                    "name": "OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "tableName": "conversations",
                "options": {}
            },
            "id": "postgres-memory",
            "name": "Postgres Chat Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1,
            "position": [
                450,
                460
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-credential-id",
                    "name": "Supabase DB"
                }
            }
        },
        {
            "parameters": {
                "name": "responder_lead",
                "description": "Ferramenta para enviar a resposta final para o cliente no WhatsApp.",
                "url": "https://api.z-api.io/instances/3EF563F4DD4551A0224EDEEAB9125F18/token/6E1D394248DA536C5C45C297/send-text",
                "method": "POST",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"phone\": \"{{$node[\"Webhook Z-API\"].json[\"phone\"]}}\",\n  \"message\": \"{{$placeholder}}\"\n}",
                "options": {}
            },
            "id": "response-tool",
            "name": "Responder Lead Tool",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1,
            "position": [
                600,
                460
            ]
        },
        {
            "parameters": {
                "name": "alertar_corretor_deste_lead",
                "description": "Notifica o CORRETOR ESPECÍFICO deste lead quando ele quer visitar o imóvel.",
                "url": "https://api.z-api.io/instances/3EF563F4DD4551A0224EDEEAB9125F18/token/6E1D394248DA536C5C45C297/send-text",
                "method": "POST",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"phone\": \"{{$node[\"Lookup Broker \u0026 Lead\"].json[\"broker_whatsapp\"]}}\",\n  \"message\": \"🚨 *VISITA SOLICITADA*\\n\\nO lead *{{$node[\"Lookup Broker \u0026 Lead\"].json[\"lead_name\"]}}* quer visitar um imóvel!\\n\\nResumo do interesse: {{$placeholder}}\\n\\nFavor assumir o contato agora.\"\n}",
                "options": {}
            },
            "id": "notify-tool",
            "name": "Broker Alert Tool",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1,
            "position": [
                750,
                460
            ]
        },
        {
            "parameters": {
                "name": "buscar_portfolion_deste_corretor",
                "description": "Busca apenas os imóveis que pertencem ao corretor deste lead.",
                "url": "https://wwwtuduxxcslpcpgjzya.supabase.co/rest/v1/properties?user_id=eq.{{$node[\"Lookup Broker \u0026 Lead\"].json[\"user_id\"]}}",
                "method": "GET",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "sb_publishable_lRPKRo4prFynd6c3qpWmng_ntBS9oAW"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer sb_publishable_lRPKRo4prFynd6c3qpWmng_ntBS9oAW"
                        }
                    ]
                },
                "options": {}
            },
            "id": "portfolio-tool",
            "name": "Buscar Portfólio Tool",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1,
            "position": [
                900,
                460
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "Você é Raquel, a assistente oficial do corretor {{$node[\"Lookup Broker \u0026 Lead\"].json[\"broker_name\"]}}.\n\nSiga o manual de atendimento estratégico e use as ferramentas disponíveis:\n1. Sempre se apresente como assistente do {{$node[\"Lookup Broker \u0026 Lead\"].json[\"broker_name\"]}}.\n2. Quando o lead {{$node[\"Lookup Broker \u0026 Lead\"].json[\"lead_name\"]}} quiser visitar, use 'alertar_corretor_deste_lead' imediatamente.\n3. Busque os imóveis do corretor usando 'buscar_portfolion_deste_corretor'.\n4. Use 'responder_lead' para todas as respostas finais no WhatsApp.",
                "options": {
                    "systemMessage": "Você é Raquel, a estrategista digital do Leadimob-AI."
                }
            },
            "id": "master-prompt",
            "name": "Raquel Master Prompt",
            "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
            "typeVersion": 1,
            "position": [
                100,
                460
            ]
        }
    ],
    "connections": {
        "Webhook Z-API": {
            "main": [
                [
                    {
                        "node": "Lookup Broker \u0026 Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lookup Broker \u0026 Lead": {
            "main": [
                [
                    {
                        "node": "AI Agent Raquel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent Raquel",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent Raquel",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Responder Lead Tool": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Raquel",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Broker Alert Tool": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Raquel",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Portfólio Tool": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Raquel",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    }
}